@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /* Font Sizes */
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 3.2rem;
    --fs-biggest: clamp(3rem, 8vw, 5rem);
    /* clamp() function in CSS allows you to set a value that is responsive to the viewport or container size. */

    /* Font Weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    /* This sets the base font size to 62.5%, so that equates to 1rem = 10px. */
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin-top: 11rem;
}
